---
import ResponsivePicture from "@components/ResponsivePicture.astro";

interface Props {
  className: string;
  classNameLanguage?: string;
  classNameText?: string;
  text?: string;
  languageText?: string;
  languageImgSrcNotExtension?: string;
  alt?: string;
}

const {
  className = "",
  classNameText = "",
  classNameLanguage = "text-white",
  text = "",
  languageText = "",
  languageImgSrcNotExtension = "",
  alt = "",
} = Astro.props;
---

<div
  class=`bg-[length:40%] bg-center bg-no-repeat flex justify-center items-center aspect-square rounded-full shadow-md ${className}`
>
  <div class="flex flex-col text-center">
    {
      languageImgSrcNotExtension && (
        <div class="w-[30%] mx-auto mb-clamp-1vh">
          <ResponsivePicture
            className="w-full"
            src={languageImgSrcNotExtension}
            alt={alt}
          />
        </div>
      )
    }
    {
      text && (
        <p
          class={`w-[60%] tracking-widest text-clamp-3vw mx-auto ${classNameText}`}
        >
          {text}
        </p>
      )
    }
    {
      languageText && (
        <p
          set:html={languageText}
          class={`text-clamp-3vw font-KumarOneRegular mt-clamp-2vw ${classNameLanguage}`}
        />
      )
    }
  </div>
</div>
